<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810746782898-523l39mvck9fe3rcg948lb1o4fcjorl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810746782898-523l39mvck9fe3rcg948lb1o4fcjorl3</string>
	<key>API_KEY</key>
	<string>AIzaSyCdgO-6diEiMDmBvlt1diC2KB9623Y-SZM</string>
	<key>GCM_SENDER_ID</key>
	<string>810746782898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DanilaFlashChat-Storyboard.FlashChat-Firebase</string>
	<key>PROJECT_ID</key>
	<string>flashchat-firebase-a74b3</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-firebase-a74b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810746782898:ios:df8691f6fc45d2faf155ab</string>
</dict>
</plist>